@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-family:'Poppins', sans-serif;
    --main-color:#252525;
    --secondary-color:#6363fd;
}
*{
    box-sizing: border-box;
}
body{
    font-family: var(--font-family); 
}
/*nav-bar*/
nav{
    padding:1.8em 5em;
    display: flex;
    justify-content: center;
}
nav .box{
    width: 1150px;
    max-width:1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .box .logo{
    font-size:3em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    color:var(--main-color);
}
nav .box .logo span{
    color:var(--secondary-color);
}
nav .box ul{
    display: flex;
    gap:50px;
}
nav .box ul li{
    position: relative;
}
nav .box ul li a{
    font-weight: 500;
    color:var(--main-color);
    text-decoration: none;
    transition: .2s ease-in-out;
}
nav .box ul li a:hover{
    color:var(--secondary-color);
}
nav .box ul li .tooltip{
    position: absolute;
    bottom:22px;
    right:-15px;
    color:white;
    padding:3px 8px;
    font-size:0.8em;
    font-weight: 600;
}
nav .box ul li .tool-1{
    background-color: #fc4242;
}
nav .box ul li .tool-2{
    background-color: purple;
}
nav .box ul li .tooltip::before{
    position: absolute;
    content: "";
    width:3.6px;
    height:7px;
    transform: rotate(-45deg);
    bottom:-5px;
}
nav .box ul li .tooltip::after{
    position: absolute;
    content: "";
    width:3.6px;
    height:7px;
    transform: rotate(45deg);
    bottom:-5px;
}
nav .box ul li .tool-1::before{
    left:42%;
}
nav .box ul li .tool-1::after{
    right:43%;
}
nav .box ul li .tool-2:before{
    left:47%;
}
nav .box ul li .tool-2:after{
    right:47%;
}
nav .box ul li .tool-1::before,
nav .box ul li .tool-1::after{
    background-color: #fc4242;
}
nav .box ul li .tool-2::before,
nav .box ul li .tool-2::after{
    background-color: purple;
}
nav .box .icon{
    display: flex;
    gap:30px;
    color:var(--main-color);
}
nav .box .icon .fa-cart-shopping{
    position: relative;
}
nav .box .icon .fa-cart-shopping span{
    position: absolute;
    top:-10px;
    right:-8px;
    font-size:0.6em;
    color:white;
    padding:5px;
    width:15px;
    height:15px;
    line-height: 6px;
    text-align: center;
    background-color:blue;
    border-radius: 50%;
}
nav .box .icon i:hover{
    color:var(--secondary-color);
}
/*first section*/
#first-section{
    padding:7em 5em;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
}
#first-section .box{
    width: 1150px;
    max-width: 1170px;
    display: flex;
    justify-content: flex-end;
}
#first-section .box .text-box{
    display: flex;
    flex-direction: column;
    gap:50px;
    padding-top:5em;
    align-items: flex-end;
    text-align: right;
}
#first-section .box h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    color:var(--main-color)
}
#first-section .box h1{
    font-size:4em;
    width:600px;
    font-weight: 600;
    color:var(--main-color);
    line-height: 70px;
}
#first-section .box button{
    border: none;
    padding:15px;
    width:150px;
    text-transform: uppercase;
    font-weight: 600;
    color:white;
    background-color: var(--secondary-color);
    transition: .3s ease-in-out;
    cursor: pointer;
}
#first-section .box button:hover{
    color:var(--main-color);
    background-color: white;
}
/*second section*/
#second-section{
    padding:5em;
    display: flex;
    justify-content: center;
}
#second-section .box{
    max-width: 1170px;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
#second-section .box .card{
    position: relative;
    overflow: hidden;
}
#second-section .box .card .image-box{
    width:100%;
    height:100%;
    position: relative;
    transition: .6s ease-in-out;
    cursor: pointer;
}
#second-section .box .card .image-box::after{
    position: absolute;
    content: "";
    background-color: black;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0;
    transition: .4s ease-in-out;
}
#second-section .box .card .image-box:hover::after{
    opacity:0.4;
}
#second-section .box .image-box:hover{
    transform: scale(1.2);
}
#second-section .box .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#second-section .box .card .text-box{
    position: absolute;
    top:60px;
    left:40px;
    display: flex;
    flex-direction: column;
    gap:30px;
    z-index: 1;
}
#second-section .box .card .text-box h1{
    color:white;
    font-weight: 600;
    font-size:2em;
    width:300px;
    line-height: 40px;
}
#second-section .box .card .text-box p{
    color:white;
    font-size:0.9em;
    line-height: 25px;
}
#second-section .box .card .text-box button{
    width:140px;
    padding:10px;
    border:none;
    font-weight: 600;
    transition: .3s ease-in-out;
    cursor: pointer;
}
#second-section .box .card-1{
    flex-basis:49%;
}
#second-section .box .card-1 .text-box button{
    color:white;
    background-color: var(--secondary-color);
}
#second-section .box .card-1 .text-box button:hover{
    background-color: white;
    color:black;
}
#second-section .box .card-3{
    flex-basis:65%;
}
#second-section .box .card-4{
    flex-basis:33%;
}
#second-section .box .card-3 .text-box h1{
    text-transform: uppercase;
    font-size: 2.4em;
    line-height: 50px;
}
#second-section .box .card-4 .text-box h1{
    width:200px;
}
#second-section .box .card-3 .text-box button{
    color:var(--main-color);
    background-color:white;
}
#second-section .box .card-4 .text-box button{
    color:white;
    background-color:var(--main-color);
}
#second-section .box .card-3 .text-box button:hover,
#second-section .box .card-4 .text-box button:hover
{
    background-color: var(--secondary-color);
    color:white;
}
/*third & fifth section*/
#third-section,
#fifth-section{
    padding:5em;
    display: flex;
    justify-content: center;
}
#third-section .box,
#fifth-section .box{
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
}
#third-section .box>h1,
#fifth-section .box>h1{
    font-size:2.5em;
    text-transform: uppercase;
    color:var(--main-color);
    font-weight: 600;
}
#third-section .box .cards,
#fifth-section .box .cards{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    justify-content: space-between;
    gap:20px;
}
#third-section .box .cards .card,
#fifth-section .box .cards .card{
    display: flex;
    flex-direction: column;
    width:270px;
    gap:20px;
    padding-bottom:25px;
}
#third-section .box .cards .card:hover,
#fifth-section .box .cards .card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
}
#third-section .box .cards .card .img-box,
#fifth-section .box .cards .card .img-box{
    width:100%;
    position: relative;
}
#third-section .box .cards .card .img-box .discount{
    background-color: #fc4242;
    color:white;
    width:55px;
    padding:5px 10px;
    font-size:0.8em;
    position: absolute;
    top:20px;
}
#third-section .box .cards .card .img-box img,
#fifth-section .box .cards .card .img-box img{
    width:100%;
    object-fit: cover;
}
#third-section .box .cards .card .img-box .hover-activated,
#fifth-section .box .cards .card .img-box .hover-activated{
    opacity:0;
    position: absolute;
    top:0;
    left:0;
    transition: .3s ease-in-out;
}
#third-section .box .cards .card .img-box .hover-activated:hover,
#fifth-section .box .cards .card .img-box .hover-activated:hover{
    opacity:1;
}
#third-section .box .cards .card .img-box .icon,
#fifth-section .box .cards .card .img-box .icon{
    display: flex;
    flex-direction: column;
    gap:10px;
    position: absolute;
    top:20px;
    right:30px;
}
#third-section .box .cards .card .img-box .icon i,
#fifth-section .box .cards .card .img-box .icon i{
    background-color:var(--main-color);
    border-radius:50%;
    width:30px;
    height:30px;
    line-height: 30px;
    text-align: center;
    color:white;
    cursor: pointer;
    opacity:0;
    transition: .3s ease-in-out;
    position: relative;
}
#third-section .box .cards .card .img-box:hover.img-box .icon i,
#fifth-section .box .cards .card .img-box:hover.img-box .icon i{
    opacity: 1;
    transform: translate(15px);
}
#third-section .box .cards .card .img-box .icon i:hover,
#fifth-section .box .cards .card .img-box .icon i:hover{
    background-color: var(--secondary-color);
}
#third-section .box .cards .card .img-box .cart,
#fifth-section .box .cards .card .img-box .cart{
    width:100%;
    text-align: center;
    background-color:var(--main-color);
    font-size:0.9em;
    text-transform: uppercase;
    font-weight: 500;
    color:white;
    position: absolute;
    line-height: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin-bottom: 0;
    border: none;
    opacity: 1;
    bottom:0;
    transition: .2s ease-in-out;
}
#third-section .box .cards .card .img-box:hover.img-box .cart,
#fifth-section .box .cards .card .img-box:hover.img-box .cart{
    opacity: 1;
    height: 13%;
    padding: 15px 10px;
}
#third-section .box .cards .card .img-box .cart:hover,
#fifth-section .box .cards .card .img-box .cart:hover{
    background-color: var(--secondary-color);
}
#third-section .box .cards .card .text-box,
#fifth-section .box .cards .card .text-box{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}
#third-section .box .cards .card .text-box .price,
#fifth-section .box .cards .card .text-box .price{
    display: flex;
    gap:20px;
}
#third-section .box .cards .card .text-box .price span,
#fifth-section .box .cards .card .text-box .price span{
    color:#fc4242;
    font-size: 0.9em;
    font-weight: 500;
}
#third-section .box .cards .card .text-box .price .discount{
    color:gray;
    text-decoration:line-through;
    font-size: 0.9em;
}
#third-section .box .cards .card .text-box .icon-review,
#fifth-section .box .cards .card .text-box .icon-review{
    display: flex;
    gap:15px;
    margin-top:10px;
}
#third-section .box .cards .card .text-box .icon-review .review span,
#fifth-section .box .cards .card .text-box .icon-review .review span{
    font-size:0.9em;
    color:gray;
}
#fifth-section .box button{
    margin-top:30px;
    cursor: pointer;
    text-transform: uppercase;
    padding:15px 20px;
    color:var(--main-color);
}
/*fourth section*/
#fourth-section{
    padding:5em;
    display: flex;
    width:100%;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#fourth-section .box{
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
    padding:3em 0;
}
#fourth-section .box h1{
    color:white;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
}
#fourth-section .box h2{
    font-size:4em;
    color:white;
    font-weight: 600;
    position: relative;
}
#fourth-section .box h2::after{
    position: absolute;
    content: "";
    width:25%;
    height:4px;
    background-color: white;
    bottom:-10px;
    left:40%;
}
#fourth-section .box button{
    margin-top: 50px;
    width:140px;
    padding:15px 20px;
    border:none;
    font-weight: 600;
    transition: .3s ease-in-out;
    cursor: pointer;
    background-color: white;
    color:var(--main-color);
}
#fourth-section .box button:hover{
    background-color: var(--secondary-color);
    color:white;
    animation-name:shake;
    animation-duration:.2s;
    animation-iteration-count:3;
}
@keyframes shake {
    0%   {transform: rotate(0deg);}
    25%  {transform:rotate(-2deg)}
    50%  {transform:rotate(0deg)}
    75%  {transform:rotate(2deg)}
    100% {transform:rotate(0deg)}
  }
/*sixth section*/
#sixth-section{
    padding:5em;
    display: flex;
    justify-content: center;
}
#sixth-section .box{
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}
#sixth-section .box>h1{
    font-size:2.5em;
    text-transform: uppercase;
    color:var(--main-color);
    font-weight: 600;
}
#sixth-section .box .cards{
    display: flex;
    gap:40px;
    margin-top: 30px;
}
#sixth-section .box .cards .card{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    padding-bottom:40px;
    box-shadow: 2px 2px 7px rgba(59, 59, 59, 0.123);
}
#sixth-section .box .cards .card .img-box{
    width:360px;
    height:230px;
    overflow: hidden;
}
#sixth-section .box .cards .card .img-box img{
    width:100%;
    height:100%;
    object-fit: cover;
    cursor: pointer;
    transition: .3s ease-in-out;
}
#sixth-section .box .cards .card .img-box img:hover{
    transform: scale(1.1);
}
#sixth-section .box .cards .card div{
    font-size:0.8em;
    color:gray;
}
#sixth-section .box .cards .card h1{
    font-size:1.1em;
    font-weight: 500;
    transition: .2s ease-in-out;
    color:var(--main-color);
    cursor: pointer;
}
#sixth-section .box .cards .card h1:hover{
    color:var(--secondary-color);
}
#sixth-section .box .cards .card a{
    font-size: 0.9em;
    color:var(--main-color);
    border-bottom:1px solid var(--main-color);
    padding-bottom:5px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
#sixth-section .box .cards .card a:hover{
    color:var(--secondary-color);
    border-bottom-color: var(--secondary-color);
}
/*seventh-section*/
#seventh-section{
    padding:3em 5em;
    display: flex;
    justify-content: center;
    background-color: rgb(240, 239, 239);
}
#seventh-section .box{
    width: 1150px;
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#seventh-section .box .element{
    display: flex;
    gap:20px;
    align-items: center;
}
#seventh-section .box .element .icon i{
    color:var(--main-color);
    transition: .3s ease-in-out;
}
#seventh-section .box .element .icon i:hover{
    transform: scale(1.2);
    color:var(--secondary-color);
}
#seventh-section .box .element .text-box{
    display: flex;
    flex-direction: column;
    gap:7px;
}
#seventh-section .box .element .text-box h1{
    font-size:1.1em;
    color:var(--main-color);
    font-weight: 600;
}
#seventh-section .box .element .text-box h2{
    color:gray;
    font-size:0.9em;
}
/*eighth section*/
#eighth-section{
    padding:5em;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#eighth-section .box{
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    color:white;
}
#eighth-section .box h1{
    font-size:1.7em;
    font-weight: 600;
}
#eighth-section .box h2{
    font-weight:1.1em;
}
#eighth-section .box .group{
    display: flex;
    justify-content: center;
    margin:20px 0;
}
#eighth-section .box .group input{
    width:450px;
    padding:15px;
    font-family: var(--font-family);
}
#eighth-section .box .group button{
    width:130px;
    border:none;
    background-color: var(--secondary-color);
    color:white;
    font-weight: 600;
    cursor: pointer;
}
#eighth-section .box .checkbox label{
    font-size: 0.9em;
}
/*footer*/
footer{
    padding:5em;
    display: flex;
    justify-content: center;
}
footer .box{
    width: 1150px;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    gap:30px;
}
footer .box .top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding-bottom:50px;
}
footer .box .top .column-1{
    display: flex;
    flex-direction: column;
    gap:20px;
}
footer .box .top .column-1 .logo{
    font-size:2.7em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    color:var(--main-color);
}
footer .box .top .column-1 .logo span{
    color:var(--secondary-color);
}
footer .box .top .column-1 p{
    font-size:0.8em;
    width:530px;
    color: gray;
    line-height: 25px;
}
footer .box .top .column-1 h2{
    margin-top:20px;
    font-size:0.9em;
    font-weight: 500;
    color: var(--main-color);
}
footer .box .top .column-1 span{
    color:var(--secondary-color);
    font-size: 1.3em;
    font-weight: 600;
}
footer .box .top .column{
    display: flex;
    flex-direction: column;
    gap:30px;
}
footer .box .top .column h1{
    color:var(--main-color);
    font-weight: 600;
}
footer .box .top .column ul{
    display: flex;
    flex-direction: column;
    gap:20px;
}
footer .box .top .column ul li{
    color:gray;
    font-size:0.9em;
    cursor:pointer;
}
footer .box .top .column ul li:hover{
    color:var(--secondary-color);
}
footer .box .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .box .bottom p{
    color: gray;
    font-size: 0.8em;
}
footer .box .bottom .icon i{
    margin-left:5px;
    cursor: pointer;
}